# First make sure to update pip:
#     $ sudo pip install --upgrade pip
#
# Then you probably want to work in a virtualenv (optional):
#     $ sudo pip install --upgrade virtualenv
# Or if you prefer you can install virtualenv using your favorite packaging
# system. E.g., in Ubuntu:
#     $ sudo apt-get update && sudo apt-get install virtualenv
# Then:
#     $ cd $my_work_dir
#     $ virtualenv my_env
#     $ . my_env/bin/activate
#
# Next, optionally uncomment the OpenAI gym lines (see below).
# If you do, make sure to install the dependencies first.
# If you are interested in xgboost for high performance Gradient Boosting, you
# should uncomment the xgboost line (used in the ensemble learning notebook).
#
# Then install these requirements:
#     $ pip install --upgrade -r requirements.txt
#
# Finally, start jupyter:
#     $ jupyter notebook
#


##### Core scientific packages
jupyter
matplotlib
numpy
pandas==0.24.0
scipy


##### Machine Learning packages
scikit-learn

# Optional: the XGBoost library is only used in the ensemble learning chapter.
# xgboost==0.82


##### Deep Learning packages

# Replace tensorflow with tensorflow-gpu if you want GPU support. If so,
# you need a GPU card with CUDA Compute Capability 3.0 or higher support, and
# you must install CUDA, cuDNN and more: see tensorflow.org for the detailed
# installation instructions.
# tensorflow==2.0.0-beta1
# tf-nightly-2.0-preview
# tf-nightly-gpu-2.0-preview
# tensorflow
# Theano
# tensorflow-gpu
torch
torchvision


# Optional: OpenAI gym is only needed for the Reinforcement Learning chapter.
# There are a few dependencies you need to install first, check out:
# https://github.com/openai/gym#installing-everything
#gym[all]==0.10.9
# If you only want to install the Atari dependency, uncomment this line instead:
#gym[atari]==0.10.9

##### Extra packages (optional)

# Nice utility to diff Jupyter Notebooks.
#nbdime==1.0.5

# May be useful with Pandas for complex "where" clauses (e.g., Pandas
# tutorial).
numexpr

# Optional: these libraries can be useful in the classification chapter,
# exercise 4.
nltk
urlextract

# Optional: tqdm displays nice progress bars, ipywidgets for tqdm's notebook support
tqdm
ipywidgets

# etc
six
mmh3
tables
gensim
h5py
fire
pyarrow
ipyparallel